img {
    width: 47vw;
    height: 60vh;
}

ul {
    display: flex;
    justify-content: center;
}

ul>div>li {
    display: none;
}

.active {
    display: block;
}

body {
    background-image: url("http://ekladata.com/hlwFEeJHrx85BnAMI_2uF_OR_cc.png");
    background-size: cover;
    font-size: 10px
}